@{
    ViewBag.Title = "Presentation";
    var ajaxOptions = new AjaxOptions
                 {
                     UpdateTargetId = "PresentationContent", // <-- DOM element ID to update
                     InsertionMode = InsertionMode.Replace, // <-- Replace the content of DOM element
                     HttpMethod = "Post" // <-- HTTP method
                 };
}

<h2>Presentation</h2>

@Ajax.ActionLink("Introduction", // <-- Text to display
                "GetCategory", // <-- Action Method Name
                new { category = "_Introduction", title = "Introduction" },
                ajaxOptions,
                new { @class = "btn btn-default" })

@Ajax.ActionLink("Hello Object Programming", "GetCategory", new { category = "_HelloObjectProgramming", title = "Hello Object Programming" }, ajaxOptions, new { @class = "btn btn-default" })
@Ajax.ActionLink("Calling external dll (.Net)", "GetCategory", new { category = "_CallingExternalDll", title = "Calling external dll (.Net)" }, ajaxOptions, new { @class = "btn btn-default" })
@Ajax.ActionLink("Functionnal Programming", "GetCategory", new { category = "_FunctionnalProgramming", title = "Functionnal Programming" }, ajaxOptions, new { @class = "btn btn-default" })
@Ajax.ActionLink("Linq functionnal programming demo", "GetCategory", "Home", new { category = "_FunctionnalProgrammingWithLinq", title = "Linq functionnal programming demo" }, ajaxOptions, new { @class = "btn btn-default" })
@Ajax.ActionLink("Conclusion", "GetCategory", new { category = "_Conclusion", title = "Conclusion" }, ajaxOptions, new { @class = "btn btn-default" })

<div id="PresentationContent">
    <div class="jumbotron">
        <h1>F# Demo &amp; F# + ASP.NET</h1>
        <p class="lead">Pure F# ASP.NET web apps are a combination of several excellent technologies that allow you to build complex web applications in less time.</p>

        <p class="lead">One of great tools of Microsoft.</p>
        <p>
            <a href="http://fsharp.org/" class=" btn btn-primary btn-large" target="winFSharpFoundation">Learn more about F# &raquo;</a>
            <a href="http://go.microsoft.com/fwlink/?LinkId=301870" class=" btn btn-primary btn-large" target="winASPMVC">Learn more about ASP.NET MVC and WebAPI &raquo;</a>
        </p>
    </div>
</div>
