
<div class="row">
    <div class="col-md-4">
        <h2>Introduction</h2>
        <p>
            This is an introduction to F#
        </p>
        @Html.ActionLink("View", "IndexCategory", "Home", new { category = "_Introduction", title = "Introduction" }, new { @class = "btn btn-default" })
    </div>
    <div class="col-md-4">
        <h2>Hello Object Programming</h2>
        <p>
            Use F# with C# background
        </p>
        @Html.ActionLink("View", "IndexCategory", "Home", new { category = "_HelloObjectProgramming", title = "Hello Object Programming" }, new { @class = "btn btn-default" })
    </div>
    <div class="col-md-4">
        <h2>Calling external dll (.Net)</h2>
        <p>You can easily call and use external .Net references.</p>
        @Html.ActionLink("View", "IndexCategory", "Home", new { category = "_CallingExternalDll", title = "Calling external dll (.Net)" }, new { @class = "btn btn-default" })
    </div>
    <div class="col-md-4">
        <h2>Functionnal Programming</h2>
        <p>Begin with functionnal programming</p>
        @Html.ActionLink("View", "IndexCategory", "Home", new { category = "_FunctionnalProgramming", title = "Functionnal Programming" }, new { @class = "btn btn-default" })
    </div>
    <div class="col-md-4">
        <h2>Linq functionnal programming Demo</h2>
        <p>Two samples with Linq</p>
        @Html.ActionLink("View", "IndexCategory", "Home", new { category = "_FunctionnalProgrammingWithLinq", title = "Linq functionnal programming demo" }, new { @class = "btn btn-default" })
    </div>
    <div class="col-md-4">
        <h2>Conclusion</h2>
        <p>You can easily call and use external .Net references.</p>
        @Html.ActionLink("View", "IndexCategory", "Home", new { category = "_Conclusion", title = "Conclusion" }, new { @class = "btn btn-default" })
    </div>
</div>

