<ul class="dropdown-menu">
    <li>@Html.ActionLink("Introduction", "IndexCategory", "Home", new { category = "_Introduction", title = "Introduction" }, null)</li>
    <li>@Html.ActionLink("Hello Object Programming", "IndexCategory", "Home", new { category = "_HelloObjectProgramming", title = "Hello Object Programming" }, null)</li>
    <li>@Html.ActionLink("Calling external dll (.Net)", "IndexCategory", "Home", new { category = "_CallingExternalDll", title = "Calling external dll (.Net)" }, null)</li>
    <li>@Html.ActionLink("Functionnal Programming", "IndexCategory", "Home", new { category = "_FunctionnalProgramming", title = "Functionnal Programming" }, null)</li>
    <li>@Html.ActionLink("Linq functionnal programming demo", "IndexCategory", "Home", new { category = "_FunctionnalProgrammingWithLinq", title = "Linq functionnal programming demo" }, null)</li>
    <li>@Html.ActionLink("Conclusion", "IndexCategory", "Home", new { category = "_Conclusion", title = "Conclusion" }, null)</li>
</ul>
